In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
# import warnings
# warnings.filterwarnings('ignore')
# df = pd.read_csv("loan_approval_dataset.csv")

In [18]:
df = pd.read_csv("loan_approval_dataset.csv")

df.head()

,Age,Salary,Credit_Score,Loan_Amount,Loan_Term,Employment_Status,Residence_Type,Previous_Default,Loan_Approved
0,56,136748,584,38209,36 months,Employed,Owned,Yes,Yes
1,46,25287,815,27424,24 months,Self-Employed,Rented,No,Yes
2,32,146593,398,42396,12 months,Unemployed,Rented,Yes,Yes
3,60,54387,696,11370,24 months,Unemployed,Owned,No,No
4,25,28512,788,14528,12 months,Employed,Owned,No,No

In [19]:
y = df["Loan_Approved"]

In [26]:
column_obj = df.select_dtypes(include=object)

column_num = df.select_dtypes(exclude=object)

df = column_obj.drop(columns=("Loan_Term"))

In [27]:
from sklearn.preprocessing import OneHotEncoder

label = OneHotEncoder()

label_x = label.fit_transform(df[["Employment_Status","Residence_Type","Previous_Default"]])

new = pd.DataFrame(label_x.toarray(),columns=label.get_feature_names_out())

new.head()

,Employment_Status_Employed,Employment_Status_Self-Employed,Employment_Status_Unemployed,Residence_Type_Mortgage,Residence_Type_Owned,Residence_Type_Rented,Previous_Default_No,Previous_Default_Yes
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
from sklearn.preprocessing import StandardScaler

stand = StandardScaler()

stand_x = stand.fit_transform(column_num)

stand.get

array([[ 1.11288175,  1.35351736,  0.04865542,  0.86178168],
       [ 0.3716524 , -1.57299909,  1.51383627,  0.02044773],
       [-0.6660687 ,  1.61200737, -1.13110059,  1.18840804],
       ...,
       [-1.03668337, -0.54161215, -1.75269246,  0.07747278],
       [ 1.48349643, -1.40343805, -0.54756536,  1.69453457],
       [-1.62966685, -1.0283978 ,  1.51383627, -0.4054849 ]],
      shape=(1000, 4))