In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score

In [20]:
df = pd.read_csv("logistic_regression_dataset.csv")

df.head()

                           Review     Category    Rating
0   Not as expected, disappointed        Books  Negative
1   Fantastic! Highly recommended     Clothing  Negative
2  Great features and easy to use     Clothing  Negative
3       Horrible, do not buy this  Electronics  Positive
4   Fantastic! Highly recommended         Home  Positive

In [21]:
df = df.drop(columns=("Category"),axis=1)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()

x_tfidf = tfidf.fit_transform(df["Review"])

x_tfidf

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 446 stored elements and shape (100, 36)>

In [28]:
feature_column_names = tfidf.get_feature_names_out()
feature_column_names

array(['and', 'as', 'bad', 'buy', 'disappointed', 'do', 'easy', 'ever',
       'excellent', 'expected', 'experience', 'fantastic', 'features',
       'for', 'good', 'great', 'highly', 'horrible', 'it', 'loved',
       'money', 'not', 'of', 'perfect', 'product', 'quality',
       'recommended', 'terrible', 'this', 'to', 'totally', 'use', 'value',
       'waste', 'worst', 'worth'], dtype=object)

In [30]:
feature_values = x_tfidf.toarray()
feature_values

array([[0.        , 0.53302522, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.33147263, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.53302522, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]], shape=(100, 36))

In [32]:
vector_df = pd.DataFrame(feature_values,columns=(feature_column_names))

vector_df

,and,as,bad,buy,disappointed,do,easy,ever,excellent,expected,...,recommended,terrible,this,to,totally,use,value,waste,worst,worth
0,0.000000,0.533025,0.0,0.000000,0.533025,0.000000,0.00000,0.0,0.000000,0.533025,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.0,0.0,0.0,0.000000
1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,...,0.502776,0.00000,0.000000,0.00000,0.000000,0.00000,0.0,0.0,0.0,0.000000
2,0.331473,0.000000,0.0,0.000000,0.000000,0.000000,0.42193,0.0,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.42193,0.000000,0.42193,0.0,0.0,0.0,0.000000
3,0.000000,0.000000,0.0,0.473489,0.000000,0.473489,0.00000,0.0,0.000000,0.000000,...,0.000000,0.00000,0.473489,0.00000,0.000000,0.00000,0.0,0.0,0.0,0.000000
4,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,...,0.502776,0.00000,0.000000,0.00000,0.000000,0.00000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.331473,0.000000,0.0,0.000000,0.000000,0.000000,0.42193,0.0,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.42193,0.000000,0.42193,0.0,0.0,0.0,0.000000
96,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.480757,0.000000,...,0.000000,0.00000,0.000000,0.00000,0.480757,0.00000,0.0,0.0,0.0,0.480757
97,0.000000,0.000000,0.0,0.473489,0.000000,0.473489,0.00000,0.0,0.000000,0.000000,...,0.000000,0.00000,0.473489,0.00000,0.000000,0.00000,0.0,0.0,0.0,0.000000
98,0.000000,0.533025,0.0,0.000000,0.533025,0.000000,0.00000,0.0,0.000000,0.533025,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.0,0.0,0.0,0.000000
99,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,...,0.482354,0.60506,0.000000,0.00000,0.000000,0.00000,0.0,0.0,0.0,0.000000

In [ ]:
model = LogisticRegression()

model.fit()